#company-section {
  width: 100%;
  padding: 50px 0 100px 0;
}

#company-section h2 {
  font-size: var(--font-l);
  margin-bottom: 35px;
}

@media screen and (max-width: 800px) {
  #company-section > div {
    flex-direction: column;
  }
}
