#footer {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  color: var(--color-tertiary);
  border-top: 1px solid var(--color-secondary-light);
  background: #fff;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: var(--screen-cutoff-size);
  height: 100%;
  padding: 50px;
}

#attribution {
  color: var(--color-primary);
  font-size: calc(var(--font-s) - 0.1rem);
}

#attribution a {
  color: var(--color-tertiary);
  font-size: inherit;
  text-decoration: none;
}

.link {
  color: var(--color-tertiary);
  border: 1px solid var(--color-tertiary);
  text-decoration: none;
}

.link:hover {
  background: var(--color-tertiary);
  color: #fff;
  text-decoration: none;
}

.link p {
  padding: 8px;
  font-size: var(--font-xs);
}
