footer {
  position: relative;
  width: 100%;
  height: 125px;
  color: #ffffff;
  background-color: #2d75f1;
}

footer > * {
  margin: 5px;
}

footer a {
  color: #ffffff;
  text-decoration: underline;
}

footer a:hover {
  color: #000000;
}
