#footer {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  color: var(--color-tertiary);
  border-top: 1px solid var(--color-secondary-light);
  background: #fff;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: var(--breakpoint-1);
  height: 100%;
  padding: 50px;
}

.attribution {
  color: var(--color-primary);
  font-size: 12px;
}

.attribution a {
  color: var(--color-tertiary);
  font-size: inherit;
  text-decoration: none;
}

.link {
  color: var(--color-tertiary);
  border: 1px solid var(--color-tertiary);
  text-decoration: none;
}

.link:hover {
  background: var(--color-tertiary);
  color: #fff;
  text-decoration: none;
}

.link p {
  padding: 8px;
  font-size: var(--font-xs);
}

@media screen and (max-width: 1024px) {
  .footer-content {
    padding: 50px 25px;
  }
}
