form {
  position: relative;
}

input {
  position: relative;
  outline: none;
  padding: 0 50px 0 15px;
  width: 600px;
  height: 35px;
  color: #5f5f5f;
  border: 1px solid #979797;
  border-radius: 15px;
}

.search-btn {
  cursor: pointer;
  outline: none;
  position: absolute;
  right: 0;
  width: 40px;
  height: 100%;
  border: 1px solid #0081f2;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background: #0081f2;
}

.search-btn:hover {
  background: #125bd4;
}
