.company-description--wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.description--wrapper {
  position: relative;
  width: 100%;
  color: var(--color-secondary);
  padding-top: 3px;
  text-align: left;
}

.description {
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  font-size: var(--font-s);
  line-height: 1.35rem;
  overflow: hidden;
}

.show-active {
  -webkit-line-clamp: unset;
  height: 100%;
}

#expand-btn {
  cursor: pointer;
  position: relative;
  width: 60px;
  bottom: -5px;
  padding: 3px 5px;
  margin-top: 5px;
  outline: none;
  border: 1px solid var(--color-tertiary);
  background: inherit;
  z-index: 1;
}

#expand-btn > span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--font-xs);
  color: var(--color-tertiary);
}

.expand-btn--icon {
  width: 15px;
  padding-left: 5px;
}

.no-description {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 5px;
}

.no-description p {
  color: var(--color-secondary);
  font-size: var(--font-m);
}

@media screen and (max-width: 800px) {
  .no-description {
    padding: 50px 0;
  }

  .company-description--wrapper {
    padding: 25px 0;
  }
}
