.newscard {
  width: 100%;
  height: 200px;
  margin-bottom: 25px;
  padding: 10px;
  background: #f2f4f8;
  overflow: hidden;
}

.newscard:hover {
  color: #0081f2;
}

.img-container {
  width: 420px;
  height: 180px;
  margin-right: 20px;
}

.newscard img {
  width: 300px;
  max-width: 300px;
  height: 100%;
  margin: auto;
  object-fit: cover;
}

.newscard-content {
  width: 100%;
  overflow: hidden;
}

.newscard-content h3 {
  padding-bottom: 5px;
}

.newscard-content p {
  line-height: 1.25rem;
  min-height: 1.25rem;
}

.newscard-content div {
  height: 5rem;
  overflow: hidden;
}
