#stats {
  padding: 5px;
  background: #f2f4f8;
}

.stats-content {
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
}

.stats-table th {
  font-weight: normal;
  text-align: left;
  padding-right: 30px;
}

.stats-table td {
  font-weight: bold;
  text-align: right;
}
